@model MyNewSale.Models.OrderSearchArg
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Post, new { id = "Form1" }))
{
    <div>
        <div>
            <table class="table table-striped">
                <tr>
                    <td>訂單編號</td>
                    <td>@Html.TextBoxFor(model => model.OrderID)</td>
                </tr>
                <tr>
                    <td>顧客名稱</td>
                    <td>@Html.TextBoxFor(model => model.CompanyName)</td>
                </tr>
                <tr>
                    <td>負責員工</td>
                    <td>@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.EmpCodeData)</td>
                </tr>
                <tr>
                    <td>出貨公司</td>
                    <td>@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.ShipCodeData)</td>
                </tr>
                <tr>
                    <td>訂購日期</td>
                    <td>@Html.TextBoxFor(model => model.OrderDate, new { @type = "date" })</td>
                </tr>
                <tr>
                    <td>出貨日期</td>
                    <td>@Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })</td>
                </tr>
                <tr>
                    <td>需要日期</td>
                    <td>@Html.TextBoxFor(model => model.RequireDdate, new { @type = "date" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="查詢" /><input type="reset" value="清除" />@Html.ActionLink("新增訂單", "InsertOrder")</td>
                </tr>
            </table>
        </div>
        @if (ViewBag.Result != null)
        {
            <div>
                <table class="table table-striped">
                    <tr>
                        <td>訂單編號</td>
                        <td>客戶名稱</td>
                        <td>訂購日期</td>
                        <td>出貨日期</td>
                        <td>修改</td>
                        <td>刪除</td>
                    </tr>

                    @foreach (var item in (List<MyNewSale.Models.Order>)ViewBag.Result)
                    {
                        <tr>
                            <td>@item.OrderID</td>
                            <td>@item.CompanyName </td>
                            <td>@item.Orderdate </td>
                            <td>@item.ShippedDate </td>
                            <td>@Html.ActionLink("修改", "UpdateOrder", "Order", new { Orderid = @item.OrderID }, new { name = "Orderid" })</td>
                            <td><button type="submit" name="DeleteOrderId" value="@item.OrderID">刪除</button></td>
                        </tr>

                    }
                </table>
            </div>
        }
        else
        {
            <div> 查無資料 </div>
        }


    </div>


}

