@model MyNewSale.Models.Order

@{
    ViewBag.Title = "InsertOrder";
}

<h2>InsertOrder</h2>
@using (Html.BeginForm("DoInsertOrder", "Order", FormMethod.Post, new { id = "Form1" }))
{

    <div>
        <h2>新增訂單</h2>
        <table class="table table-striped">
            <tr>
                <td>*客戶名稱</td>
                <td colspan="3">@Html.DropDownListFor(model => model.CustomerID, (List<SelectListItem>)ViewBag.CustCodeData) </td>

            </tr>
            <tr>
                <td>*負責員工名稱</td>
                <td colspan="3">@Html.DropDownListFor(model => model.EmployeeID, (List<SelectListItem>)ViewBag.EmpCodeData)</td>

            </tr>
            <tr>
                <td>*訂購日期</td>
                <td>@Html.TextBoxFor(model => model.Orderdate, new { @type = "date" })</td>
                <td>*需要日期</td>
                <td>@Html.TextBoxFor(model => model.RequireDdate, new { @type = "date" })</td>
            </tr>
            <tr>
                <td>出貨日期</td>
                <td colspan="3">@Html.TextBoxFor(model => model.ShippedDate, new { @type = "date" })</td>
            </tr>
            <tr>
                <td>出貨公司名稱</td>
                <td colspan="3">@Html.DropDownListFor(model => model.ShipperID, (List<SelectListItem>)ViewBag.ShipCodeData)</td>
            </tr>
            <tr>
                <td>運費</td>
                <td colspan="3">@Html.TextBoxFor(model => model.Freight)</td>
            </tr>
            <tr>
                <td>出貨國家</td>
                <td>@Html.TextBoxFor(model => model.ShipCountry)</td>
                <td>出貨城市</td>
                <td>@Html.TextBoxFor(model => model.ShipCity)</td>
            </tr>
            <tr>
                <td>出貨地區</td>
                <td>@Html.TextBoxFor(model => model.ShipRegion)</td>
                <td>郵遞區號</td>
                <td>@Html.TextBoxFor(model => model.ShipPostalCode)</td>
            </tr>
            <tr>
                <td>出貨地址</td>
                <td>@Html.TextBoxFor(model => model.ShipAddress)</td>
                <td>出貨說明</td>
                <td>@Html.TextBoxFor(model => model.ShipName)</td>
            </tr>
            <tr>
                <td>訂單金額總計</td>
                <td colspan="3" style="text-align:right"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3"><input type="submit" value="存檔" />@Html.ActionLink("返回查詢", "Index")</td>
            </tr>
        </table>

    </div>

        <h2>訂單明細</h2>
        <div>
            <a id="addNewDetial">新增一筆</a>
            <table class="table table-striped">
                <tr>
                    <td>商品</td>
                    <td>單價</td>
                    <td>數量</td>
                    <td>小計</td>
                    <td></td>
                </tr>
                <tbody id="tbContent">
                    @for (int i = 0; i < Model.OrderDetail.Count; i++)
                {
                        <tr>
                            <td>@Html.DropDownListFor(model => Model.OrderDetail[i].ProductID, (List<SelectListItem>)ViewBag.ProductCodeData, new { @class = "ProductId" })</td>
                            <td>@Html.TextBoxFor(model => Model.OrderDetail[i].UnitPrice, new { @class = "UnitPrice" })</td>
                            <td>@Html.TextBoxFor(model => Model.OrderDetail[i].Qty, new { @class = "Qty" })</td>
                            <td></td>
                            <td><button type="button" class="btnRemove">取消</button></td>
                        </tr>
                    }
                </tbody>
            </table>
            <script type="text/javascript">
                //明細資料範本
                var trtemplate = $('#tbContent tr').eq(0).html();

                //新增一列名資料
                $("#addNewDetial").click(function (e) {
                    //Console.log(trtemplate);
                    $('#tbContent').append('<tr>' + trtemplate + '</tr>');
                    $('.ProductId').change(function(){
                        var productid=$(this);
                        var UnitPrice = $(this).closest('td').next().children('.UnitPrice');
                        var statesAvailable = @Html.Raw(Json.Encode(ViewBag.ProductPrice));
                        $.each(statesAvailable,function(key,value){
                            if(key==$(productid).val()-1){
                                $.each(value,function(key,value){
                                    if(key=="UnitPrice"){
                                        $(UnitPrice).val(value);
                                    }

                                });
                            }
                        })
                    });
                });

                //移除TR
                $('#tbContent').on('click', '.btnRemove', function () {
                    if ($('#tbContent tr').length > 1) {
                        $(this).closest('tr').remove();
                    } else {
                        alert("訂單資料不可少於一筆");
                    }

                });

                //表單送出前置換element name 讓Action 可以讀到OrderDetials
                $('#Form1').submit(function () {
                    for (var i = 0 ; i < $('#tbContent tr').length; i++) {
                        $('.ProductId').eq(i).attr('name', 'OrderDetail[' + i + '].ProductId');
                        $('.Qty').eq(i).attr('name', 'OrderDetail[' + i + '].Qty');
                        $('.UnitPrice').eq(i).attr('name', 'OrderDetail[' + i + '].UnitPrice');
                    }
                });


                $('.ProductId').change(function(){
                    var productid=$(this);
                    var UnitPrice = $(this).closest('td').next().children('.UnitPrice');
                    var statesAvailable = @Html.Raw(Json.Encode(ViewBag.ProductPrice));
                    $.each(statesAvailable,function(key,value){
                        if(key==$(productid).val()-1){
                            $.each(value,function(key,value){
                                if(key=="UnitPrice"){
                                    $(UnitPrice).val(value);
                                }

                            });
                        }
                    })
                });
            </script>


        </div>
}


